:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 4px;
  font-size: 10pt;
  color: rgb(255, 254, 255);
  background-color: rgb(43,46,56);
}

input, select, button {
  border: 0px solid transparent;
  border-radius: 8px;
  color: rgb(255,254,255);
  background-color: rgb(60,64,75);
  padding: 4px 8px;
}

button {
  border: 1px solid transparent;
  margin: 8px 0;
  padding: 8px 8px;
  font-weight: 600;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.settings > label {
  margin-top: 4px;
  margin-bottom: 2px;
}
